.controlled-video-container {
    flex: 1;

    video {
        width: 100%;
        min-height: 400px;
        max-height: 600px;
        border: 2px solid #868ea7;
        box-sizing: border-box;
        background-color: #868ea73d;
        pointer-events: 'none';
    }

    .content {
        width: 100%;
        margin: 12px 0 0;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .bars {
            .bar {
                width: 100%;
                height: 8px;
                background-color: #e5e7eb40;

                &.point-bar {
                    display: flex;
                }

                .fill {
                    height: 100%;

                    &.white-point {
                        background-color: #2259c7;

                        &.last {
                            flex: 1;
                        }
                    }
                }
            }
        }

        .detail {
            display: flex;
            align-items: center;
            gap: 20px;

            button {
                color: #fff;
                background: linear-gradient(90deg, #2563eb, #0891b2);

                &:hover {
                    box-shadow: 0 0 20px #2563eb80;
                }

                &:disabled {
                    cursor: not-allowed;
                }
            }
        }
    }

    .no-video {
        width: 100%;
        height: 500px;
        background-color: #868ea73d;
        text-align: center;
        align-content: center;
        border: 1px solid #868ea7;
        box-sizing: border-box;
        border-radius: 20px;
        font-style: italic;
    }
}