.forum-popup-container {
    position: relative;
    padding: 20px 20px 0;

    .forum-content {

        .questions {
            display: flex;

            .head-block {
                width: 40px;
                height: auto;
                display: flex;
                justify-content: center;
                position: relative;

                .vertical-line {
                    width: 21px;
                    border-left: 2px solid #ccc;
                    box-sizing: border-box;
                    border-color: #ccc;
                    position: absolute;
                    right: 0;
                }

                .line-full {
                    top: 0;
                    height: 100%;
                    /* border-color: blue; */
                }

                .line-img {
                    bottom: 0;
                    height: calc(100% - 40px);
                    /* border-color: lime; */
                }

                .no-line {
                    top: 0;
                    height: 0;
                    /* border-color: #ff8000; */
                }

                .horizon-line {
                    width: 21px;
                    height: 20px;
                    border-bottom: 2px solid #ccc;
                    border-left: 2px solid #ccc;
                    border-radius: 0 0 0 16px;
                    border-color: #ccc;
                    /* border-color: #ff0000; */
                    box-sizing: border-box;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }

    .content {
        word-break: break-all;
        display: flex;
        gap: 8px;

        .image {

            img {
                width: 40px;
                height: 40px;
                border: 2px solid #cccccc80;
                box-sizing: border-box;
                border-radius: 50%;
            }
        }

        .name-comment {
            padding: 4px 12px;
            box-sizing: border-box;
            background-color: #eee;
            border-radius: 12px;

            &.my-comment {
                background-color: #d0ffbb;
            }

            .name {
                /* white-space: nowrap; */
                font-size: 18px;
                font-weight: bold;
            }
        }

        .commentdate-btn {
            margin: 2px 0 10px 20px;
            display: flex;
            color: #999;
            font-size: 12px;
            font-weight: 600;
            gap: 20px;

            .btn {
                padding: 0;
                font-size: 12px;
                background-color: transparent;
                color: #999;

                &.btn-takedown {
                    color: var(--red-light);
                }
            }
        }

        &.input-reply,
        &.input-comment {

            &.input-comment {
                position: sticky;
                bottom: 0;
                background-color: #fff;
                box-shadow: 0 0 12px 12px #fff;
                z-index: 1;
            }

            .comment-area {
                width: 100%;
                display: flex;
                gap: 8px;

                .btn {
                    height: fit-content;
                }
            }
        }
    }
}