.forum-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-color: #8000ff;

    .left,
    .right {
        width: 360px;
        background-color: #80ff80;
    }

    .center {
        flex: 1;
        display: flex;
        justify-content: center;
        background-color: #ff8000;
        padding: 0 20px;
        box-sizing: border-box;

        .list {
            background-color: #ff8080;
            width: 100%;
            max-width: 680px;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
    }

    .inner-popup {
        width: 700px;
        min-height: 700px;
    }
}