.forum-card-container {
    background-color: var(--gray-2);
    border-radius: 8px;

    .content {
        padding: 20px;
    }

    .react-comment {
        display: flex;
        padding: 8px;
        gap: 8px;

        .button-wrapper {
            flex: 1;
            position: relative;
            display: inline-block;

            .reaction-popup {
                position: absolute;
                bottom: 100%;
                left: 50%;
                display: flex;
                justify-content: center;
                background-color: var(--gray-3);
                border-radius: 999px;
                box-shadow: 0 6px 20px #00000026;
                animation: slideInUpForum .4s forwards;

                .reaction-item {
                    padding: 8px;
                    cursor: pointer;
                    transition: 0.2s;

                    opacity: 0;
                    animation: slideInUp .4s forwards;

                    .btn-item {
                        padding: 0;
                        background: transparent;
                        transform: rotate(-30deg);
                        animation: swingingForum 2s ease-in-out infinite;

                        i {
                            font-size: 2rem;
                            background-clip: text;
                            background: var(--background);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            transition: transform 0.2s, margin 0.5s;

                            &:hover {
                                margin: 0 20px;
                                transform: scale(2.2);
                            }
                        }
                    }
                }
            }

            .main-btn {
                width: 100%;
                color: var(--text-secondary);
                background-color: #2D3644;
                font-size: 1.5rem;
                box-sizing: border-box;

                display: flex;
                justify-content: center;
                align-items: center;

                .fa-solid {
                    min-width: 40px;
                    background-clip: text;
                    background: var(--background);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                span {
                    font-size: 1rem;
                }

                &:hover {
                    color: var(--text-primary);
                    background-color: #ffffff10;
                }
            }
        }
    }
}

@keyframes swingingForum {
    0% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}

@keyframes slideInUpForum {
    0% {
        opacity: 0;
        transform: translate(-50%, 4px);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}