.learning-lesson-container {
    padding: 48px 20px;

    .content {

        .back-button {
            width: fit-content;
            margin: 0 0 32px;
            color: #93c5fd;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 8px;
            transition: 0.2s;

            &:hover {
                color: #bfdbfe;
            }
        }

        .header {
            margin: 0 0 48px;
            opacity: 0;
            animation: slideInUp 0.4s forwards;

            h1 {
                font-size: 60px;
                font-weight: 800;
                color: white;
                margin-bottom: 16px;
                letter-spacing: -0.02em;
                line-height: 1.1;
            }

            p {
                font-size: 20px;
                color: #cbd5f5;
                line-height: 1.6;
            }
        }

        .content-grid {
            display: flex;
            gap: 32px;

            .main-content {
                display: flex;
                flex-direction: column;
                gap: 32px;
                flex: 3;
            }
        }
    }
}