.footer-container {
    border-top: 1px solid #1e293b;
    padding: 3rem 2rem 2rem;
    background: #0f172a;

    .footer-wrapper {
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 3rem;

        .footer-brand {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .logo {
                display: flex;
                align-items: center;
                gap: 12px;

                .logo-icon {
                    width: 48px;
                    height: 48px;
                    text-align: center;
                    align-content: center;
                    box-sizing: border-box;
                    border-radius: 12px;
                    background: linear-gradient(to right, #2563eb, #06b6d4);

                    i {
                        font-size: 1.5rem;
                    }
                }

                .logo-text {
                    font-size: 1.6rem;
                    font-weight: 800;
                    background-clip: text;
                    background: linear-gradient(to right, #60a5fa, #22d3ee);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            p {
                color: #94a3b8;
                max-width: 400px;
                line-height: 1.6;
            }
        }

        .footer-column {
            display: flex;
            flex-direction: column;
            gap: .75rem;

            h3 {
                margin: 0 0 .75rem;
            }

            a {
                text-decoration: none;
                color: #94a3b8;
                transition: 0.3s;

                &:hover {
                    color: #60a5fa;
                }
            }
        }
    }

    .footer-bottom {
        margin-top: 3rem;
        padding-top: 2rem;
        border-top: 1px solid #1e293b;
        text-align: center;
        color: #64748b;

        span {
            color: #60a5fa;
            font-weight: 600;
        }
    }
}