.traffic-light-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-1);

    .scene-traffic-light {
        width: 300px;
        height: 300px;
        min-height: 600px;
        perspective: 600px;

        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        transition: all 2s ease;

        &.error {
            filter: drop-shadow(0 0 20px var(--red));
        }

        &.loading {
            filter: drop-shadow(0 0 20px var(--yellow));
        }

        &.success {
            filter: drop-shadow(0 0 20px var(--green));
        }

        .traffic-light {
            position: relative;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform-style: preserve-3d;
            transition: all 0.1s ease;
            /* animation: traffic-light-rotate 10s linear infinite; */

            --LightWidth: 80px;
            --LightWidth: 120px;
            --LightHeight: 20px;

            --SpaceVertical: 30px;
            --SpaceHorizontal: 10px;

            .face {
                position: absolute;
                box-sizing: border-box;
                background: var(--gray-3);
                border: 1px solid var(--gray-2);
                transition: all 1s ease;

                opacity: 0.6;

                display: flex;
                justify-content: center;
                align-items: center;

                user-select: none;
                cursor: pointer;

                &.updown-face {
                    width: calc(var(--LightWidth) + var(--SpaceHorizontal) * 2);
                    height: calc(var(--LightWidth) + var(--SpaceHorizontal) * 2);
                }

                &.side-face {
                    width: calc(var(--LightWidth) + var(--SpaceHorizontal) * 2);
                    height: calc(var(--LightWidth) * 3 + var(--SpaceVertical) * 4);
                }

                &.f1 {
                    transform: translateZ(calc(var(--LightWidth) * 1.5 + var(--SpaceVertical) * 2));
                }

                &.f2 {
                    transform: rotateY(180deg) translateZ(calc(var(--LightWidth) * 1.5 + var(--SpaceVertical) * 2));
                }

                &.f3 {
                    transform: rotateZ(0deg) rotateX(-90deg) translateZ(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal)));
                }

                &.f4 {
                    transform: rotateZ(90deg) rotateX(-90deg) translateZ(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal)));
                }

                &.f5 {
                    transform: rotateZ(180deg) rotateX(-90deg) translateZ(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal)));
                }

                &.f6 {
                    transform: rotateZ(270deg) rotateX(-90deg) translateZ(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal)));
                }
            }

            --Distance_1: 60px;
            --Distance_2: 80px;

            .light {
                position: absolute;
                box-sizing: border-box;
                border: 1px solid transparent;
                transition: all 1s ease;

                display: flex;
                justify-content: center;
                align-items: center;

                user-select: none;
                cursor: pointer;

                &.updown-light {
                    width: var(--LightWidth);
                    height: var(--LightWidth);
                }

                &.side-light {
                    width: var(--LightWidth);
                    height: var(--LightHeight);
                }

                &.l1 {
                    transform: rotateZ(calc(var(--i) * 180deg)) translateZ(calc(var(--j) * (var(--LightWidth) + var(--SpaceVertical)))) rotateX(-90deg) translateZ(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal)));
                }

                &.l2 {
                    transform: rotateZ(calc(var(--i) * 180deg)) translateZ(calc(var(--j) * (var(--LightWidth) + var(--SpaceVertical)))) rotateX(-90deg) translateZ(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal) + var(--LightHeight)));
                }

                &.l3 {
                    transform: rotateZ(calc(var(--i) * 180deg)) translateZ(calc(var(--j) * (var(--LightWidth) + var(--SpaceVertical)))) translateY(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal) + var(--LightHeight) / 2)) translateZ(calc(var(--LightWidth) / 2));
                }

                &.l4 {
                    transform: rotateZ(calc(var(--i) * 180deg)) translateZ(calc(var(--j) * (var(--LightWidth) + var(--SpaceVertical)))) rotateY(180deg) translateY(70px) translateZ(40px);
                }

                &.l5 {
                    transform: rotateZ(calc(var(--i) * 180deg)) translateZ(calc(var(--j) * (var(--LightWidth) + var(--SpaceVertical)))) rotateY(90deg) translateY(70px) translateZ(40px);
                }

                &.l6 {
                    transform: rotateZ(calc(var(--i) * 180deg)) translateZ(calc(var(--j) * (var(--LightWidth) + var(--SpaceVertical)))) rotateY(-90deg) translateY(70px) translateZ(40px);
                }

                &.active {
                    opacity: 1;

                    &.error {
                        background-color: var(--red-light);
                        border-color: var(--red);
                        box-shadow: 0 0 20px var(--red-light);
                    }

                    &.loading {
                        background-color: var(--yellow-light);
                        border-color: var(--yellow);
                        box-shadow: 0 0 20px var(--yellow-light);
                    }

                    &.success {
                        background-color: var(--green-light);
                        border-color: var(--green);
                        box-shadow: 0 0 20px var(--green-light);
                    }
                }

                &.inactive {
                    opacity: 0.2;

                    &.error {
                        background-color: var(--red);
                        border-color: var(--red-dark);
                    }

                    &.loading {
                        background-color: var(--yellow);
                        border-color: var(--yellow-dark);
                    }

                    &.success {
                        background-color: var(--green);
                        border-color: var(--green-dark);
                    }
                }
            }
        }
    }
}

@keyframes traffic-light-rotate {
    0% {
        transform: rotateX(90deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(90deg) rotateZ(360deg);
    }
}